main{
    background-color: rgb(253, 255, 121);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

main div.iframe{
    margin-left: 20vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.524);
    padding: 40px;
    border-radius: 40px;
    width: 60vw;
    border-style: dashed;
    border-color: rgba(59, 59, 59, 0.524)
}

main div p{
    font-size: 20px;
}

.form-container{
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-container h2{
    text-align: center;
    margin-bottom: 20px;
}

.form-group{
    margin-bottom: 20px;
}

.form-group label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group textarea{
    resize: vertical;
}

.form-group input[type="radio"],
.form-group input[type="checkbox"] {
    margin-right: 5px;
}

.form-actions{
    text-align: center;
}

.form-actions button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-actions button:hover{
    background-color: #45a049;
}

div.escribenos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

img.sobre{
    padding: 10px;
    width: 50px;
    transition: 0.25s;
}

img.sobre:hover{
    filter: hue-rotate(-45deg);
    transform: scale(1.25);
}